@keyframes  adhtml {
	0% { background-color:#d0e6fe;  }
	100% { background-color:#222;  }
}
@keyframes adheader {
	0% { background-color:#fff; box-shadow:0 0 25px #777; }
	100% { background-color:#333; box-shadow:0 0 10px #111; }
}
@keyframes adhhr {
	0% { background-color:#0312a0; box-shadow:0 0 1px #0312a0; }
	100% { background-color:#fff; box-shadow:0 0 1px #fff; }
}
@keyframes adhtheader {
	0% { color:#4277e0; }
    100% { color:#faa; }
}
@keyframes adpheader {
	0% { color:#4277e0; }
	100% { color:#eee; box-shadow:0 0 0 #000; }
}
@keyframes adrhr {
	0% { background-color:#00a; border-color:#00a; }
	100% { background-color:#fff; border-color:#fff; }
}
@keyframes adurazdel {
	0% { opacity:1; }
	100% { opacity:0.6; }
}
@keyframes adhorazdel {
	0% { color:#1280de; }
	100% { color:#faa; }
}

@keyframes  adhtmlrev {
	0% { background-color:#fff;  }
	100% { background-color:#d0e6fe;  }
}
@keyframes adheaderrev {
	0% { background-color:#333; }
	100% { background-color:#fff; }
}
@keyframes adhhrrev {
	0% { background-color:#fff; box-shadow:0 0 1px #fff; }
	100% { background-color:#0312a0; box-shadow:0 0 1px #0312a0; }
}
@keyframes adhtheaderrev {
	0% { color:#faa; }
    100% { color:#4277e0; }
}
@keyframes adpheaderrev {
	0% { color:#eee; }
	100% { color:#4277e0; }
}
@keyframes adrhrrev {
	0% { background-color:#fff; border-color:#fff; }
	100% { background-color:#00a; border-color:#00a; }
}
@keyframes adurazdelrev {
	0% { opacity:1; }
	100% { opacity:0.6; }
}
@keyframes adhorazdelrev {
	0% { color:#fff; text-shadow:0 0 5px #fff; }
	100% { color:#1280de; text-shadow:0 0 0 #000; }
}
@keyframes animhhr {
	0% { width:1%; }
	100% { width:85%; }
}
@keyframes animhtheader {
	0% { opacity:0; }
	100% { opacity:1; }
}
