#books-list {
	margin-top: 10%;
}
.books-block {
	padding: 0;
}
ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	opacity: 1;

	padding: 0;

	list-style-type: none;
}
li {
	cursor: pointer;

	display: flex;
	align-items: center;

	background-color: #252525;

	border-radius: 0 15px 15px 0;

	margin: 3%;

	width: 40%;
}
li img {
	width: 25%;
	height: auto;
}
li p {
	margin-left: 15%;
	margin-bottom: 10%;

	font-size: 1.3em;
	font-weight: bold;
	font-family: Calibri;
}


iframe {
	border: none;
}


@media only screen and (max-width: 1080px) {
	ul {
		flex-direction: column;

		padding-top: 2.5%;
	}
	li {
		width: 75%;
	}
}