* {
	cursor: default;
	padding:0;
	margin:0;
}
html {
	background-image: url("https://cdn.discordapp.com/attachments/521767712792379414/708677787732541460/2.jpg");
	background-attachment: fixed;
	height:100%;
}
::-webkit-scrollbar {
	width:0;
}
.btn {
	margin-top:10%;
	width:280px;
	height:50px;
	border-radius:20px;
	border:solid;
	border-color:#eee;
	background-color:#eee;
	color:#444;
	font-size:20px;
	cursor: pointer;
}
.field-coef {
	background-color:#212123;
	border:0.4px solid #414143;
	width:45%;
	height: auto;
	font-size:150%;
	font-weight: bold;
	font-family: Calibri;
	color:#eee;
	text-align: left;
}
.field-text {
	padding-left:5%;
	padding-top:3%;
}
@media only screen and (max-width:1080px) {
	.btn {
		margin-top:15%;
		width:45%;
		height:6vh;
		font-size:200%;
		letter-spacing:5px;
	}
	.field-coef {
		width:55%;
		font-size:40px;
	}
}
.btn:hover {
	animation: btn-hover forwards;
}

@keyframes btn-hover {
		0% { color:#444;  }
		100% { color:#111;  }
}
