* {
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar {
	width: 0;
}
html {
	background-color: #111;
}

#header {
	color: #fff;
	font-size: 5vh;
	font-weight: bold;
	font-family: Calibri;
	font-variant: small-caps;

	padding-top: 5%;
	padding-bottom: 2.5%;
}
table {
	width: 80%;

	color: #fff;
	font-size: 3vh;
	font-family: Calibri;
}
.day-week {
	display: flex;
	flex-direction: column;
}
.day-week .header {
	background-color: #28e;

	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;

	padding-top: 1%;
	padding-bottom: 1%;

	box-shadow: 0 2px 2px #555;

	z-index: 2;
}
.day-week td {
	background-color: #999;

	border: solid;
	border-width: 1px;
	border-color: #888;

	padding: .5%;

	z-index: 1;
}
.day-week input {
	background-color: #999;
	border: none;
	border-right: solid;
	border-color: #888;

	width: 85%;
	height: 4vh;

	padding-left: 2%;

	color: #fff;
	font-size: 2.5vh;
	text-shadow: 0 0 5px #888;
}
.day-week input::placeholder {
	color: #ddd;
	font-weight: bolder;
	font-variant: small-caps;
}

.is-done {
	display: inline-block;

	background-color: #f00;
	width: 1.5vh;
	height: 1.5vh;

	border-radius: 100%;

	margin-left: 2%;
	margin-right: 2%;
}
.lesson-info {
	display: inline-block;

	width: 3.5vh;
	height: 3.5vh;

	background-color: #fff;

	color: #111;
	text-align: center;

	border-radius: 100%;

}
.lesson-info::before {
	content: "i";
}



@media only screen and (max-width: 1080px) {
	table {
		width: 90%;
	}
	.day-week input {
		width: 80%;
	}
	.lesson-info {
		margin-left: 2%;
	}
}
