#html {
	height:125%;
	background-color:#d0e6fe;
}
p, h1, h2, h3, h4, h5, h6 {
	cursor:default;
}
::-webkit-scrollbar {
	width:0;
}
#header {
	justify-content: center;
	position: absolute;
	background-color:#fff;
	box-shadow:0 0 25px #777;
	width:100%;
	height:260px;
	margin:0;
	top:-0.04%;
	left:-0.0009%;
}
#hhr {
	position: relative;
	background-color:#0312a0;
	box-shadow:0 0 1px #031230;
	width:85%;
	height:1px;
	border:0;
	animation-name: ahhr;
	animation-duration:.8s;
	animation-fill-mode: forwards;
	animation-timing-function:easy-in-out;
}
.psm {
	position: relative;
    display: flex;
}
#htheader {
	flex: 1;
	position: relative;
	color:#4277e0;
	width: auto;
	height: auto;
	margin:0;
	padding:0;
	font-size:350%;
	font-family: Calibri;
}
#pheader {
	position: relative;
	color:#4277e0;
	width: auto;
	height: auto;
	margin:0;
	top:25px;
	bottom:0;
	left:0;
	right:0;
	font-size:25px;
	font-family: Calibri;
    font-weight: bold;
}
.inv {
	opacity:0;
}
#rhr {
	width:30%;
	height:0.01px;
	background-color:#00a;
	border-color:#00a;
}
img {
	width:66%;
	height: auto;
}
a {
	text-decoration: none;
	color:#fff;
	font-size:120%;
	font-weight: bolder;
	font-family: mono-space;
}

/* пк */

.light {
	flex:1;
	padding:0;
	margin:0;
	width:50%;
}
.dark {
	flex:1;
	padding:0;
	margin:0;
	width:50%;
}
    .razdelu {
	    position: relative;
	    top:300px;
    }
	.perekl {
		display: flex;
		flex-direction: row;
	    position: absolute;
    	flex: 1;
    	margin-left:90%;
    	width:6%;
		border-radius:6px;
    }}
    ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	    list-style-type: none;
    }
	.razdelu li {
		position: relative;
		display: inline-block;
		top:100px;
		right:15px;
	}
	.descr {
		position: absolute;
		top:0;
		left:15%;
		width:70%;
		height:35.9vh;
		opacity:0;
		font-size:280%;
		font-weight: bold;
		font-variant: small-caps;
		font-family: sans-serif;
		color:#eee;
		text-shadow:0 0 30px #000;
	    animation:descr-revers .5s;
        opacity:0;
	}
    li:hover .descr {
		animation-name: descr;
		animation-duration:0.5s;
		animation-fill-mode: forwards;
	}
	@keyframes descr {
	    from { opacity:0; top:0; }
		to { opacity:1; top:30%; }
	}
	@keyframes descr-revers {
		from { opacity:1; top:30%; }
		to { opacity:0; top:60%; }
	}
	#horazdelu {
		color:#1280de;
        text-shadow: 0 0 3px #ccc;
        font-size: 300%;
        font-family: Calibri;
        font-weight: bold;
        letter-spacing: 10px;
	}
	.fimg {
	    flex: 1;
	}
	.simg {
		flex: 1;
	}
    .timg {
		flex: 1;
	}

/* мт */

@media only screen and (max-width:1080px) {
.light {
	flex:1;
	padding:0;
	margin:0;
	width:auto;
	height:60px;
}
.dark {
	flex:1;
	padding:0;
	margin:0;
	width:auto;
	height:60px;
}   
   .razdelu {
	    position: relative;
	    top:300px;
    }
	.perekl {
		display:flex;
	    position: absolute;
    	flex: 1;
    	margin-left:82.5%;
		margin-bottom:5%;
    	width:6%;
    }
	.telefinv {
		opacity:0;
	}
    ul {
        display: flex;
		flex-direction: column;
	    list-style-type: none;
    }	
	.razdelu li {
		position: relative;
		display: block;
		width:100%;
		height:auto;
	}
    img {
	    width:30%;
		height:auto;
    }
	.descr {
		position: absolute;
		top:0;
		left:15%;
		width:70%;
		height:35.9vh;
		opacity:0;
		font-size:250%;
		font-weight: bold;
		font-variant: small-caps;
		font-family: sans-serif;
		color:#fff;
		text-shadow:0 0 30px #000;
	}
    .fimg .descr {
		animation-name: descr;
		animation-duration:0.5s;
		animation-delay:0.5s;
		animation-fill-mode: forwards;
	}
	.simg .descr {
		animation-name: descr;
		animation-duration:0.5s;
		animation-delay:0.8s;
		animation-fill-mode: forwards;
	}
	.timg .descr {
		animation-name: descr;
		animation-duration:0.5s;
		animation-delay:1.2s;
		animation-fill-mode: forwards;
	}
	#horazdelu {
		color: #1280de;
        text-shadow: 0 0 3px #ccc;
        font-size: 300%;
        font-family: Calibri;
        font-weight: bold;
        letter-spacing: 10px;
	}
	.fimg {
		flex: 1;
	}
	.simg {
		flex: 1; 
	}
    .timg {
		flex: 1;
	}
}

/* нб */

@media only screen and (max-width:1596px) and (max-height:1180px) {
    .razdelu {
	    position: relative;
	    top: 319px;
	    right:10%:
    }
	.razdelu li {
		position: relative;
		display: inline-block;
		width: 30%;
		height :auto;
		top: 5em;
		left:-10%:
	}
	ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		list-style-type: none;
	}
	img {
		width:70%;
		height: auto;
	}
	.descr {
		position: absolute;
		top:0;
		left:15%;
		width:70%;
		height:31.9vh;
		border-radius:100vh;
	}
	.descr {
		position: absolute;
		top:0;
		left:15%;
		width:70%;
		height:35.9vh;
		opacity:0;
		font-size:180%;
		font-weight: bold;
		font-variant: small-caps;
		font-family: sans-serif;
		color:#eee;
		text-shadow:0 0 30px #000;
	}
	li:hover .descr {
		animation-name: descr;
		animation-duration:0.5s;
		animation-fill-mode: forwards;
	}
	@keyframes descr {
	    from { opacity:0; top:0; }
		to { opacity:1; top:30%; }
	}
	#horazdelu {
		color: #fee
        text-shadow: 0 0 3px #ccc;
        font-size: 300%;
        font-family: Calibri;
        font-weight: bold;
        letter-spacing: 10px;
	}
    .fimg {
	    flex: 1;
	}
	.simg {
		flex: 1;
	}
    .timg {
		flex: 1;
	}
}
