.hup {
	margin:10% 0;
	color:#eee;
	padding:10px;
}
.hup:hover {
	cursor:default;
} 
.hr {
	width:90%;
	height:1px;
	background-color:#000;
	border-color:#000;
	border:0;
 }
html, body {
     background-color: #2fa691;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
button {
	 margin:25% 0;
     width:160px;
	 height:10%;
     transform: scale(1.8);
	 padding: 12px 40px;
	 border: 0;
	 font: 16px/24px Verdana, sans-serif;
	 text-decoration: none;
	 box-shadow:0 0 5px #aaa;
	 background:
	     linear-gradient(90deg, 
		     #23d4b1,
			 #17d661,
			 #46eabb,
			 #1ad6a0);
	 background-size: 400%;
	 display: inline-block;
	 color: #fff;
	 border-radius: 8px;
	 position: relative;
	 cursor: pointer;
	 animation: glowing 8s linear infinite;
	 text-transform: uppercase;
	 text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	 letter-spacing: 2px;
}
@keyframes glowing {
     100% {
	     background-position: -400%;
	 }
}
@media only screen and (min-height:240px) {
.face {
	position: relative;
	background:url("https://cdn.discordapp.com/attachments/521767712792379414/680424640073564232/e4a79c970bf3f626.jpg");
    background-size:100% auto;
	width:864px;
	height:923px;
	border-radius:25px;
	box-shadow:0 0 25px #777;
	margin:0 0;
}
.hup {
	font-size:32px;
	font-family:Calibri;
	font-weight:bold;
	text-shadow:0 0 5px #aaa;
    }
}
@media only screen and (min-height:968px) {
.face {
	position: relative;
	background:url("https://cdn.discordapp.com/attachments/521767712792379414/680424640073564232/e4a79c970bf3f626.jpg");
	background-size:100% auto;
	width:900px;
	height:1500px;
	border-radius:35px;
	box-shadow:0 0 25px #777;
    margin:5% -0.5%;
}
.hup {
	font-size:50px;
	font-family:Calibri;
	font-weight:bold;
	text-shadow:0 0 1px #000;
    }	
}
@keyframes btnim {
    from { box-shadow:0 0 8px #555; }
    to { box-shadow:0 0 13px #333; }   
}
