html {
    background:url("https://cdn.discordapp.com/attachments/521767712792379414/677946828011864104/guitarfindchords.jpg");
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-color:#d0e6fe;
}
.tbface {
    background-color:#d0d2ff;
    Background-size:100% 100%;
    width:1150px;
    height:1550px;
    border-radius:6px;
    box-shadow:0px 0px 12px #111;
    margin:64.5px 0px;
    text-align:center;
}
pre, a {
    color:#000;
    font-size:30px;
    font-weight:bold;
    margin:0px 15px;
    font-variant:small-caps;
    word-spacing:8px;
    font-family:calibri;
    text-shadow:2px 1px 2px #888;
}
.button {
    width:450px;
    height:450px;
    color:#56a;
    font-weight:bolder;
    font-size:31px;
    margin:45px 150px;
    box-shadow:0px 0px 18px #888;
    border-radius:100%;
    border:0px;
}
.imp {
    color:#f99;
    font-size:33px;
    font-weight:bolder;
    margin:0px 15px;
}
i, a {
    text-shadow:0px 0px 10px #fff;
    text-decoration:none;
}
hr {
    background-color:#000;
    border-color:#000;
}
h2 {
    color:#444;
    font-weight:bold;
    font-size:36px;
    margin:45px 15px;
    font-variant:small-caps;
    word-spacing:8px;
    font-family:calibri;
    text-shadow:1px 1px 2px #000;
}
img {
	width:450px;
	height:450px;
    margin:0 0;
	padding:0 0;
}
