/* Colors

#7b83eb
#5059c9
#1a1a1a

*/
@font-face {
	font-family: Montserrat;
	src: url(Montserrat.ttf);
}
@font-face {
	font-familY: Roboto;
	src: url(RobotoMono.ttf);
}




* {
	padding: 0;
	margin: 0;
}
::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.header {
	position: fixed;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: rgba(240, 240, 240, .9);

	width: 85%;
	height: 12.5vh;

	font-size: 1.75rem;
	font-family: Montserrat, sand-serif;
	font-weight: bold;

	padding: 0 7.5%;

	border-bottom: solid 2px #5059c9;

	z-index: 1;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;

	padding-top: 12.5vh;

	height: calc(100vh - 12.5vh);
}
.main_info {
	display: grid;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	align-items: center;

	background: linear-gradient(to right, #7b83eb, #25b100, #b8ad00, #b13e00);
	background-size: 1200vw 100%;
	background-position: 0;

	width: 35vw;
	height: 35vw;

	text-align: center;
	text-decoration: none;

	border-radius: 50%;
	border: solid #5059c9;
}
.main_info .lesson {
	color: #fff;
	font-size: 2rem;
	font-family: Roboto, sans-serif;

	width: 70%;
}
.main_info .lesson_duration {
	opacity: 0;

	width: 70%;
}
.main_info .lesson_duration .start, .main_info .lesson_duration .end {
	color: #ccc;
	font-size: 1.2rem;
	font-family: Roboto, sans-serif;

	padding: 0 1%;
}
.main_info .lesson_duration .current_time {
	color: #eee;
	font-size: 1.3rem;
	font-family: Roboto, sans-serif;
}
.main_info .lesson_duration .current_time:before {
	content: ' - ';
}
.main_info .lesson_duration .current_time:after {
	content: ' - ';
}

.timetable {
	background-color: #031e5e;

	margin-left: 50%;

	transform: translate(-50%, 0);

	width: 70%;

	border-radius: 12px;

	z-index: 0;
}
.timetable .day {
	width: 100%;

	padding-bottom: 2%;

	font-family: Roboto, sans-serif;
}
.timetable .day .day_name {
	color: #fff;
	font-size: 2em;
	font-family: Roboto, sans-serif;

	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 10%;
}
.timetable .day .lesson {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	background-color: #eeed;

	width: 90%;

	margin: .5% 5%;
	padding: 1% 0;

	border-radius: 5px;
}
.timetable .day .lesson .lesson_name {
	padding-left: 5%;
}
.timetable .day .lesson .lesson_time {
	padding-right: 5%;

	border: none;
}
.today {
	background: rgb(0,212,255);
	background: linear-gradient(69deg, rgba(0,212,255,1) 30%, rgba(132,242,255,1) 71%, rgba(0,212,255,1) 100%);
}
.timetable .day .current_lesson {
	background: linear-gradient(to right, #2df781, #2df7cb, #2df781);
	background-position: 0;
	background-size: 200%;

	animation: move_bg_current_lesson 2s infinite;
}



@media only screen and (max-width: 500px) {
	.main_info .lesson {
		font-size: 1.5rem;
	}
	.main_info .lesson_duration {
		width: 90%;
	}
}
@media only screen and (max-width: 1100px) {
	.main_info {
		width: 60vw;
		height: 60vw;
	}
}
@media only screen and (max-width: 700px) {
	.main_info {
		width: 90vw;
		height: 90vw;
	}
	.timetable {
		width: 90%;
	}
	.timetable .day .lesson .lesson_name {
		padding-right: 2%;
                
                width: 50%;
	}
	.timetable .day .lesson .lesson_time {
		padding-left: 2%;

                width: 50%;
	}
}



@keyframes move_bg_current_lesson {
	0% {
		background-position: 0;
	}
	50% {
		background-position: 100%;
	}
	100% {
		background-position: 0;
	}
}
@keyframes move_bg {
	0% {
		background-position: 0;
	}
	100% {
		background-position: 100%;
	}
}
@keyframes light_border_color {
	0% {
		border-color: #5059c9;
	}
	100% {
		border-color: #aaa;
	}
}
@keyframes dark_border_color {
	0% {
		border-color: #aaa;
	}
	100% {
		border-color: #5059c9;
	}
}
