* {
	padding:0;
	margin:0;
}
::-webkit-scrollbar {
	width:0;
}
html {
	background-color:#111;
}
.container {
	opacity:0;
	animation:main-opacit .5s 3s forwards;
}
.header {
	position: fixed;
	width:100%;
	height:10vh;
	background-color:#222;
	box-shadow:0 0 15px #111;
	text-align: center;
	z-index:1;
}
.header p {
	font-size:5vh;
	font-weight: bolder;
	font-family: Calibri;
	color:#fff;
	padding-top:1.5vh;
}
#main {
	padding-top:20vh;
	height:100vh;
	z-index:0;
}
hr {
	width:30%;
}
.main-list {
	padding-top:10vh;
}
#list {
	background-color:#333;
	width:130vh;
	border-radius:3px;
	box-shadow:0 0 15px #111;
}
ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.li {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	margin-top:10vh;
	width:70vh;
	height:24vh;
	background-color:#111;
	border-radius:100vh 30px 30px 100vh;
	box-shadow:0 0 15px #222;
	animation: li-in .3s forwards;

	color: #fff;
	text-decoration: none;
}
.li:hover {
	animation: li-out .3s forwards;
}
.li pre {
	display: block;
	padding-top:5.9vh;
	margin-left:-14vh;
	font-size:2.5vh;
	font-family: sans-serif;
	letter-spacing:0.3vh;
	color:#fff;
}
.li img {
	max-width:25vh;
	min-width:25vh;
	border-radius:100vh;
	opacity:0;
}
.info {
	position: absolute;
	opacity:0;
}
.ulinfo {
	padding-top:1.5vh;
	width:70vh;
	align-items: center;
}
.pinfoheader {
	color:#fff;
	font-size:3.3vh;
	font-family: Calibri;
	font-weight: bold;
	letter-spacing:3px;
}
.ulinfo a {
	color:#eee;
}
@media only screen and (max-width:1080px) {
	li {
		width:40vh;
	}
	hr {
		width:100vh;
		margin-left:15vh;
	}
}