@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


* {
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 0;
}
.main {
    background: rgb(54,0,0);
    background: linear-gradient(166deg, rgba(107,0,9,1) 0%, rgba(185,58,123,1) 100%);
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}
.container {
    width: 85%;
    margin: 0 auto;
}
.main-block {
    background-color: rgba(220, 220, 220, .5);
    min-height: 90vh;
    border-radius: 40px;
    color: #fff;
    font-family: 'Pacifico', sans-serif;
    padding-top: 10%;
    padding-bottom: 10%;
}
.main-block__about {
    text-align: center;
    padding-bottom: 10%;
    font-size: 8rem;
}
.main-block__get-info {
    margin: 0 auto;
    display: block;
    background-color: #ED145B;
    border: #fff5 solid 4px;
    border-radius: 20px;
    padding: 10px;
    color: #fffa;
    width: 70%;
    font-family: Calibri;
    font-size: 3rem;
}
.main-block hr {
    width: 20%;
    border: none;
    height: 1px;
    background-color: #fff6;
    margin: 10% auto;
}
.sharky-block {
    font-size: 4rem;
}
