* {
	padding: 0;
	margin: 0;

	font-family: Calibri;
}
html {
	background-color: #111;
}
::-webkit-scrollbar {
	width: 0;
}

#header {
	color: #fff;
	font-size: 3.5vh;
	font-weight: bold;

	padding: 3%;
}
hr {
	width: 40%;
}
button {
	display: block;
}
#exercise-list {
	margin-top: 12.5%;
}
#list {
	border-radius: 2vh;
}

#exercise-list li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	background-color: #39f;

	width: 50%;
	height: 3.5vh;

	padding: 1vh;

	border: solid;
	border-color: #39f;
}
input {
	width: 30%;

	border: none;
	border-radius: 1vh;

	padding-left: 1vh;

	font-size: 100%;
}
input::placeholder {
	font-size: 2.1vh;
	font-variant: small-caps;
}

.delete-btn {
	cursor: pointer;

	width: 3vh;
	height: 3vh;

	background: linear-gradient(to right top, #0099ff, #9933ff);

	border: none;

	color: #fff;
	font-size: 2vh;
	font-weight: bold;

	box-shadow: 0 0 5px #444;

	animation: toSmaller .2s forwards;
}
.exercise-btn:hover, .delete-btn:hover {
	animation: toBigger .2s forwards;
}
#btns {
	margin-top: 5%;
}
.exercise-btn {
	background: linear-gradient(to left top, #114f21, #22a332);

	width: 30vh;
	height: 5vh;

	margin-top: 1%;

	border: none;
	border-radius: 1vh;

	box-shadow: 0 0 10px #000;

	color: #fff;
	font-size: 2vh;
	font-weight: bold;
	letter-spacing: 3px;
	word-spacing: 2px;

	animation: toSmaller .2s forwards;
}
@keyframes toBigger {
	0% { transform: scale(1) }
	100% { transform: scale(1.1) }
}
@keyframes toSmaller {
	0% { transform: scale(1.1) }
	100% { transform: scale(1) }
}






.exercise-name {
	color: #fff;
	font-size: 4vh;
	font-weight: bold;
	letter-spacing: 3px;

	margin-top: 7.5%;
	padding-bottom: 10%;
}
.timer {
	color: #fff;
	font-size: 10vh;
	font-weight: bold;
	padding-top: 15%;
}