html {
    background-color: black;
}
* {
	margin:0;
	padding:0;
}
.container {
	display: block;
	position: relative;
	background-color: #333;
	box-shadow:0 0 10px #555;
	width:100%;
	height:120%;
	border-radius:15px;
	margin-top:2.5%;
}
.tablma {
	position: relative;
	width:100%;
	height: auto;
	border:10px;
	border-color:#eee;
	border-radius:8px;
	color:#fff;
	font-size:100%;
	font-weight:bolder;
	text-align: center;
}
.tbmh {
	position: relative;
	color:#eee;
	font-size:200%;
	font-weight: bolder;
	font-family: mono-space;
	text-shadow:0 0 3px #eee;
}
